* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-image: url("background.jpg");
  /* Space between sections */
}
/* Space between sections */
.container {
  /*width: 75%;
  /* 75% of the screen will be covered max, 25% cut off */
  margin: auto;
  /* We move it to the middle */
}

#slideshow {
  min-height: 300px;
  width: 100%;
  background-size: 100% 100%;
  background-image: url(slideshow1.jpeg);
  text-align: center;
}
#slideshow h1 {
  margin-top: 1px;
  font-size: 40px;
}
#Subscribtion {
  background: gray;
}
.btnSuscribe {
  height: 20px;
}
#infoboxes {
  margin-top: 15px;
}
#infoboxes .infobox {
  float: left;
  width: 29%;
  padding: 10px;
}
#infoboxes .infobox img {
  width: 120px;
}
footer {
  float: left;
  background-color: bisque;
  width: 100%;
}
.infoimg {
  border-radius: 50%;
}
.infoboxes h3 {
  font-weight: bold;
  font-size: 30px;
}
.infoboxes p {
  font-weight: italic;
  font-family: "Times New Roman", Times, serif;
}
