.logo {
  float: left;
  width: 60px;
}

body {
  line-height: 1.5;
  padding: 0;
  margin: 0;
  /* Space between sections */
}
/* Space between sections */
.container {
  width: 75%;
  /* 75% of the screen will be covered max, 25% cut off */
  margin: auto;
  /* We move it to the middle */
}

header {
  background-color: gray;
  border-bottom: 2px solid;
  padding-top: 5px;
  overflow: hidden;
}
header a {
  text-decoration: none;
}
header ul {
  padding: 0;
  margin: 0;
  /* By Default unordered list have padding */
}
header li {
  float: left;
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  /* Horizontal Placement, and spacing between */
}
header nav {
  float: right;
  margin-top: 8px;
}

#slideshow {
  min-height: 300px;
  background-image: url(main.png);
  text-align: center;
}
#slideshow h1 {
  margin-top: 1px;
  font-size: 40px;
}
#Subscribtion {
  background: gray;
}
.btnSuscribe {
  height: 20px;
}
#infoboxes {
  margin-top: 15px;
}
#infoboxes .infobox {
  float: left;
  width: 29%;
  padding: 10px;
}
#infoboxes .infobox img {
  width: 120px;
}
footer {
  float: left;
  background-color: bisque;
  width: 100%;
}
