* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
nav {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4vh;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.nav-links li {
  list-style-type: none;
}
.nav-links a {
  text-decoration: none;
  font-weight: bold;
}
.burger {
  display: none;
  /* Hides burger until we change size */
}
.burger div {
  width: 20px;
  height: 4px;
  background-color: black;
  margin: 5px;
}
@media screen and (max-width: 750px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 10px;
    height: 96vh;
    top: 8vh;
    background-color: sandybrown;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
  }
  .burger {
    display: block;
  }
}
body {
  line-height: 1.5;
  padding: 0;
  margin: 0;
  /* Space between sections */
}
/* Space between sections */
.container {
  /*width: 75%;
  /* 75% of the screen will be covered max, 25% cut off */
  margin: auto;
  /* We move it to the middle */
}

#slideshow {
  min-height: 300px;
  background-image: url(main.png);
  text-align: center;
}
#slideshow h1 {
  margin-top: 1px;
  font-size: 40px;
}
#Subscribtion {
  background: gray;
}
.btnSuscribe {
  height: 20px;
}
#infoboxes {
  margin-top: 15px;
}
#infoboxes .infobox {
  float: left;
  width: 29%;
  padding: 10px;
}
#infoboxes .infobox img {
  width: 120px;
}
footer {
  float: left;
  background-color: bisque;
  width: 100%;
}
